.div {
	width: 270px;
	height: 254px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background-color: #eaf2f5;
	border-radius: 30px;
	margin: 13.5px 13.5px;
}

.image {
	max-width: 100%;
	max-height: 100%;
	margin-top: 50px;

}

.title {
	font-family: Gilroy;
	font-size: 16px;
	font-weight: 400;
	line-height: 18.5px;
	text-align: center;
	color: #22253b;
	margin: 18px 52px 0 52px;
	width: 200px;
}

.description {
	font-family: Gilroy;
	font-size: 13px;
	font-weight: 400;
	line-height: 15px;
	text-align: center;
	color: #22253b;
	margin: 10px 35px 0px 35px;

}

@media screen and (max-width: 576px) {

	.div {
		width: 145px;
		height: 175px;
		border-radius: 20px;
		margin: 5px;

	}

	.image {
		max-width: 40px;
		max-height: auto;
		margin-top: 27px;

	}

	.title {
		font-family: Gilroy;
		font-size: 12px;
		font-weight: 400;
		line-height: 12px;
		text-align: center;
		margin: 7px 8px 5px 8px;
		color: #22253b;
		max-width: 128px;
	}

	.description {
		font-family: Gilroy;
		font-size: 9px;
		font-weight: 400;
		line-height: 12px;
		text-align: center;
		color: #22253b;
		margin: 0px 9px 0px 9px;

	}
}