.div > iframe {
  margin: 60px 0px;
  border-radius: 30px;
  width: 1160px;
}

@media screen and (max-width: 576px) {
  .div {
    width: 100%;
  }
  .div > iframe {
    width: 90%;
    margin: 24px 7px;
  }
}
